<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".cs" #>
using System;

namespace SilverCraft.CSCore.Codecs.FLAC
{
    internal sealed partial class FlacSubFrameLPC
    {
       private void RestoreLPCSignal32(ReadOnlySpan<int> residual, Span<int> destination, int length, int order, int[] qlpCoeff, int lpcShiftNeeded)
       {
          int[] q = qlpCoeff;
          if(order <= 12)
          {
<#
Generate(1, 12, false);
#>
          }
          else if(order > 12)
          {
<#
Generate(13, 32, false);
#>
          }
       }

       private void RestoreLPCSignal64(ReadOnlySpan<int> residual, Span<int> destination, int length, int order, int[] qlpCoeff, int lpcShiftNeeded)
       {
          int[] q = qlpCoeff;
          if(order <= 12)
          {
<#
Generate(1, 12, true);
#>
          }
          else if(order > 12)
          {
<#
Generate(13, 32, true);
#>
          }
       }
    }
}

<#+
    private void Generate(int minOrder, int maxOrder, bool isWide)
    {
#>
        <#= isWide ? "long" : "int" #> z;
        switch(order)
        {
<#+
       for (var o = maxOrder; o >= minOrder; o--)
       {
#>
            case <#= o #>:
               for(int i = order; i < length ; i++)
               {
                  z = 
<#+
                  for (var n = o - 1; n >= 0; n--)
                  {
#>
                  (q[<#= n #>] * <#= isWide ? "(long)" : "" #>destination[i - <#= n + 1 #>]) <#= n > 0 ? "+" : "" #>
<#+
                  }
#>
                  ;
                  destination[i] = residual[i ] + <#= isWide ? "(int)" : "" #>(z >> lpcShiftNeeded);
               }
               break;
<#+
       }
#>
        }
<#+
    }
#>